<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name = "hibernate.dialect">
            org.hibernate.dialect.MySQL8Dialect
        </property>

        <property name = "hibernate.connection.driver_class">
            com.mysql.jdbc.Driver
        </property>

        <property name = "hibernate.connection.url">
            jdbc:mysql://localhost:3306/employeemanagement
        </property>

        <property name = "hibernate.connection.username">
            root
        </property>

        <property name = "hibernate.connection.password">
            dhivyaa
        </property>

        <property name = "hibernate.hbm2ddl.auto">update</property>

        <property name = "hibernate.show_sql"> false </property>

        <mapping resource = "/resources/hibernate/classes/Employee.hbm.xml"/>
        <mapping resource = "/resources/hibernate/classes/Address.hbm.xml"/>
        <mapping resource = "/resources/hibernate/classes/Project.hbm.xml"/>
    </session-factory>
</hibernate-configuration>   